# Go
bin/
*.exe
go.work

# Java
target/
*.class
*.jar
*.war
*.mvn/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# JS / Node
node_modules/
dist/
.npm
*.log

# IDEs e Sistema
.vscode/
.idea/
*.iml
*.iws
*.ipr
out/
gen/
.DS_Store
Thumbs.db