# ===================================
# POSTGRES CONFIG
# ===================================
POSTGRES_USER=vfdelivery
POSTGRES_PASSWORD=vfdelivery_pass
POSTGRES_DB=vfdelivery_db
POSTGRES_PORT=6000

# ===================================
# API CONFIG
# ===================================
DATABASE_HOST=localhost
DATABASE_URL="postgresql+psycopg://vfdelivery:vfdelivery_pass@localhost:6000/vfdelivery_db"

WEB_URL=http://localhost:5173

JWT_SECRET_KEY="d9d6117f533ec686c0b9bf3c918c3878e00c4aae9441b00366443a2e75df5ff4"
JWT_ALGORITHM="HS256"
TOKEN_EXPIRES_MINUTES=30

# ===================================
# WEB CONFIG
# ===================================
VITE_API_URL=http://localhost:8000
